body {
  background-color: lightseagreen;
  max-width: 800px;
  margin: 10px auto;
}
h1 {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 3px;
  margin: 0 auto;
}

p {
  text-align: center;
}

.navigation-links {
  display: flex;
  margin: 20px auto;
  justify-content: space-evenly;
}
